
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link href="//bytebay.pl/css/main.css" rel="stylesheet">
    <script src="//code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
            crossorigin="anonymous"></script>

    <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="//oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->

    <title>Moja ścieżka &bull; ByteBay 2018</title>
</head>
<body>

    <section id="sessions" class="sessions">
        <div class="content-wrapper">
            <div class="col-lg-10 col-lg-offset-1">
                <div class="text-left">
                    <p>
                        Cześć <b>{{name}}</b>, oto Twoja ścieżka podczas ByteBay 2018.</p>
                </div>
            </div>

            {{#each agenda}}
            <div class="col-lg-10 col-lg-offset-1">
                <div class="people-modal text-left">
                    <h5>{{@key}}</h5>

                    {{#if this}}
                    <h6>{{ title }}</h6>
                    <p class="theme-description">{{ breaklines description }}</p>
                    {{#if prerequisites}}
                        <div>
                            <figure>
                                <figcaption>{{ prerequisites.title }}</figcaption>
                                <ul>
                                    {{#each prerequisites.list }}
                                    <li> {{{ this }}}
                                    {{/each}}
                                </ul>
                            </figure>
                        </div>
                    {{/if}}
                    <hr>
                    <div class="people-details">
                        {{#each speakers}}
                            <div class="row">
                                <div class="col-md-2 col-sm-2">
                                    <div class="flow-img img-circle people-img" style="background-image: url('//bytebay.pl/img/people/{{thumbnailUrl}}')"></div>
                                </div>
                                <div class="col-md-10 col-sm-10 details">
                                    <p class="name">{{ name }} {{ surname }}
                                    </p>
                                    <p class="about">{{ bio }}</p>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                    {{/if}}
                </div>
            </div>
            {{/each}}
        </div>
    </section>



    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>
</html>
